<div class="container">
  <h1 class="text-center"><%=@cocktail.name%></h1>
  <h3 class="text-center">Ingredients</h3>
  <ul class="list-group">
  <%@cocktail.doses.each do |dose| %>
  <li class="list-group-item"> <%=dose.description%> <%=dose.ingredient.name %> </li>
  <%end%>
  </ul>

  <div class="form-row text-center">
      <div class="col-12">
          <button type="button" class="btn btn-success mt-2" data-toggle="modal" data-target="#exampleModalCenter">
            New Ingredient
          </button>

          <%= link_to "Remove Cocktail", cocktail_path, method: :delete, data:
          {confirm: "Are you sure?"}, class: "btn btn-danger mt-2" %>
      </div>
   </div>



  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add Dose</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%=simple_form_for [@cocktail, @dose], html: { id: 'simple-form' } do |f| %>
            <%=f.input :description %>
            <%=f.association :ingredient %>
            <%=f.button :submit, class: "btn btn-success" %>
          <%end%>
        </div>
        </div>
      </div>
    </div>
</div>




